<h1>{{title}}</h1>

<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Almacenes virtuales">
        <md-content class="md-padding" >
        <div ng-include="virtualStorageView"></div>
        </md-content>
      </md-tab>
      <md-tab label="Lista de recomendaciones">
        <md-content class="md-padding" >
        <div ng-include="virtualStorageView"></div>
        </md-content>
      </md-tab>
      <md-tab label="Reportes" ng-disabled="true">
        <md-content class="md-padding" >
        <div ng-include="virtualStorageView"></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>