<h1>{{title}}</h1>

<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Almacenes virtuales">
        <md-content class="md-padding" >
        <div ng-include="virtualStorageView" ng-controller="VirtualStorageNavigateController as ctrl"></div>
        </md-content>
      </md-tab>
      <md-tab label="Almacenes virtuales que sigo">
        <md-content class="md-padding" >
        <div ng-include="virtualStorageFollowingView" ng-controller="VirtualStorageNavigateController as ctrl"></div>
        </md-content>
      </md-tab>
      <!-- <md-tab label="Reportes" ng-disabled="disableReport">
        <md-content class="md-padding" >
        <div ng-include="ReportsView" ng-controller="ReportsController as ctrl" ></div>
        </md-content>
      </md-tab> -->
    </md-tabs>
  </md-content>