<div class="md-toolbar-tools" ng-controller="ToolbarController">
    <md-button class="md-icon-button" aria-label="menu" hide-gt-md ng-click="toggleSidenavLeft()">
        <i class="material-icons">menu</i>
    </md-button>
    <h2>
        <span>{{virtualStorageName}}</span>
    </h2>
    
    <span flex></span>

    <a href="paypal.xhtml">
		<img alt="No seas rata!" src="resources/premium.png">
  	</a>
    <md-button class="md-icon-button" aria-label="Favorite">
        <i class="material-icons">favorite</i>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
        <i class="material-icons">more_vert</i>
    </md-button>
</div>
