<div class="md-toolbar-tools" ng-controller="ToolbarController">
    <md-button class="md-icon-button" aria-label="menu" hide-gt-md ng-click="toggleSidenavLeft()">
        <i class="material-icons">menu</i>
    </md-button>
    <img ng-show="vsSelected"  src="{{vs.logo}}" class="logoVS"/>
    <img ng-show="!vsSelected"  src="images/littleFrog.gif" />
    
    <h2 ng-show="vsSelected" class="vsName">
        <span>{{vs.name}}</span>
    </h2>
    
        <h2 ng-show="!vsSelected" class="vsName">
        <span>SAPo</span>
    </h2>
     
    <span flex></span>

    <a href="premium.xhtml">
		<img alt="No seas rata!" src="resources/vip_premium.png" style="max-height: 70px;">
  	</a>
    <md-button class="md-icon-button" aria-label="Notification" ng-click="redirectToNotifications()">
        <i class="material-icons">notifications_active</i>
    </md-button>
    
    <md-button class="md-icon-button" aria-label="More" ng-click="toggleSearch()">
        <i class="material-icons">search</i>
    </md-button>
</div> 
 