<md-list ng-controller="CategoriesSidenavController" ng-cloak>
    <md-subheader class="md-no-sticky">Categorías</md-subheader>
    <div layout layout-margin layout-align="center center">
        <md-progress-linear style="width:80%;" md-mode="indeterminate" ng-show="loading && linear"></md-progress-linear>
        <md-progress-circular md-mode="indeterminate" ng-show="loading && !linear"></md-progress-circular>
    </div>
    <md-list-item ng-repeat="item in categories |limitTo:3 " ng-click="redirect(item.url)">
        <md-icon>{{item.icon}}</md-icon>
        <p>{{ item.name }}</p>
    </md-list-item> 
</md-list>
