<div layout="column" class="relative" layout-fill role="main">
    <!-- class="relative" layout="column" layout-align="start start" flex> -->
    <div layout="row">
        <div flex="90">
            <h1>Notificaciones</h1>
        </div>        
    </div>
    
    <div ng-cloak="" class="listdemoBasicUsage" ng-app="MyApp">
  <md-content>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="notification in notifications">
        <div class="md-list-item-text" layout="column">
          <h3>{{ notification.mensaje }}</h3>
          <h4>Stock minimo: {{notification.minStock}} Producto: {{ notification.barcode }}</h4>
        </div>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
 </md-content>
</div>

    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
<!--     <div class="md-actions" layout="row" layout-align="start center" ng-click="getNotifications()"> -->
<!--         <md-button md-no-ink  class="md-primary md-hue-2" layout> -->
<!--             <h3> Mostrar más >>> </h3> -->
<!--         </md-button> -->
<!--     </div> -->
</div>
