<link href="css/bootstrap.sapo.min.css" rel="stylesheet" />

<md-content flex layout-padding>
	<md-content layout layout="row">
		<h3>Notificaciones</h3>
	</md-content>
	<md-content>
		<div>
			<table class="table table-hover">
				<tr>
					<th>Producto</th>
					<th style="text-align: center;">Stock minimo</th>
					<th style="text-align: center;">Mensaje</th>
				</tr>
				<tr ng-repeat="notification in notifications" >
			      <td style="vertical-align: middle;">{{ notification.barcode }}</td>
			      <td style="vertical-align: middle;">{{notification.minStock}}</td>
			      <td style="text-align: center; vertical-align: middle;">{{notification.mensaje}}</td>
			      
			 	</tr>
			</table>
		</div>
		
	</md-content>
</md-content>
