<div layout="column" class="relative" layout-fill role="main">
    <!-- class="relative" layout="column" layout-align="start start" flex> -->
    <div layout="row">
        <div flex="90">
            <h1>Notificaciones</h1>
        </div>        
    </div>
    
    <div flex layout-wrap layout="row" >
        <div ng-repeat="notification in notifications" flex="grow"> 
        	
            <md-card flex="grow"> 
                <div layout="row"  layout-fill>
                    <div flex="75" layout-margin layout-fill>
                        <md-card-content>
                            <p>{{notification.mensaje}}</p>
                        </md-card-content>
                        <md-card-footer>
                            <h3>Stock minimo: {{notification.minStock}}</h3>
                        </md-card-footer>
                    </div>
                </div>
            </md-card>
        </div>
    </div>

    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
<!--     <div class="md-actions" layout="row" layout-align="start center" ng-click="getNotifications()"> -->
<!--         <md-button md-no-ink  class="md-primary md-hue-2" layout> -->
<!--             <h3> Mostrar más >>> </h3> -->
<!--         </md-button> -->
<!--     </div> -->
</div>
