<div layout="column" class="relative" layout-fill role="main">
    <!-- class="relative" layout="column" layout-align="start start" flex> -->
    <div layout="row">
        <div flex="90">
            <h1>PRODUCTOS</h1>
        </div>
        <div flex="10">
            <md-button aria-label="ToggleListGrid" md-no-ink ng-click="toggleListGrid()">
                <md-icon ng-show="list">view_module</md-icon>
                <md-icon ng-show="!list">view_list</md-icon>
            </md-button>
        </div>
    </div>
    <div flex layout-wrap layout="row" ng-show="list" >
        <div ng-repeat="product in products" flex="grow"> 
            <md-card flex="grow">
                <div layout="row"  layout-fill>
                    <div flex="25" layout-margin class="productImage" style="background-image: url({{product.images[0]}});">
<!--                         <img class="md-card-image "  alt="image caption"> -->
                    </div>
                    <div flex="75" layout-margin layout-fill>
                        <md-card-content>
                            <h2>{{product.name}}</h2>
                            <p>{{product.description | limitTo:250 }}...</p>
                        </md-card-content>
                        <md-card-footer>
                            <h3>Stock: {{product.stock}}</h3>
                        </md-card-footer>
                    </div>
                </div>
                <div class="md-actions" layout="row" layout-align="end end">
                    <md-button ng-click="redirect(product.barCode)">Ver m&aacute;s</md-button>
                </div>
            </md-card>
        </div>
    </div>
    <div flex layout-wrap layout="row" ng-show="!list">
        <div ng-repeat="product in products" flex-sd="100" flex-md="50" flex-gt-md="33">
            <md-card>
                <div layout="column">
                    <div flex="100" layout-margin>
                        <img class="md-card-image" src="{{image}}" alt="image caption">
                    </div>
                    <div flex="100" layout-margin>
                        <md-card-content>
                            <h2>{{product.name}}</h2>
                        </md-card-content>
                        <md-card-footer>
                            <h3>Stock: {{product.stock}}</h3>
                        </md-card-footer>
                    </div>
                </div>
                <div class="md-actions" layout="row" layout-align="end end">
                    <md-button ng-click="redirect(product.barCode)">Ver m&aacute;s</md-button>
                </div>
            </md-card>
        </div>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
    <div class="md-actions" layout="row" layout-align="start center" ng-click="getProducts()">
        <md-button md-no-ink  class="md-primary md-hue-2" layout>
            <h3> Mostrar más >>> </h3>
        </md-button>
    </div>
</div>
