<h1>{{test}}</h1>

<form name="profileForm" novalidate>
	<h3 class="md-headline">{{nick}}</h3>
    <md-input-container>
    <label>Email</label>
    <md-tooltip md-direction="top">
	          Ingrese su email
	        </md-tooltip>
      <input ng-model="mail" type="email" name="mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
	    <ng-messages for="profileForm.mail.$error">
		  <ng-message when="pattern">Ingrese un email v&aacute;lido</ng-message>
		  <ng-message when="required">Ingrese su email</ng-message>
		</ng-messages>
    </md-input-container>
    
    <md-dialog-actions class="md-actions" layout="row">
		<md-button class="md-raised md-primary"	ng-click='submitMail(mail)' ng-disabled="profileForm.$invalid">Guardar</md-button> 
	</md-dialog-actions> 
</form>

<div map-lazy-load="https://maps.google.com/maps/api/js" style="width: 65%;">
  <ng-map center="{{address}}" zoom="15">
  		<marker position="[{{address}}]"></marker>
  </ng-map>
</div>
