<h1>{{test}}</h1>

<form name="inputForm" novalidate>
	<h3 class="md-headline">{{nick}}</h3>
	<md-input-container>
		<label>Email</label> 
		<md-tooltip md-direction="left">Ingrese su email</md-tooltip> 
		 <div ng-messages="inputForm.email.$error" ng-messages-include="error-messages" >
		    <div ng-message="pattern">Please enter a valid email address!</div>
		  </div>
		<input type="email" ng-model="profile.email" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"> 
	</md-input-container> 
	
	
</form>