<link href="css/bootstrap.min.css" rel="stylesheet" />

<style>
.md-pane-open .md-datepicker-calendar {
    background: beige;
}
#datePicker h4 {
	margin-left: 2em;
}
</style>

<md-content flex layout-padding>
	<p>
	<md-content>
		<h4>Valor Actual del Almac&eacute;n</h4>
		<md-whiteframe class="md-whiteframe-7dp" flex="25" layout layout-align="center center">
		    <span>{{vsWorth}}</span>
		</md-whiteframe>
	</md-content>
	</p>
	<p style="margin-top: 45px;">
	<md-content layout layout="row">
		<h4>Movimientos Realizados</h4>
		<form name="movementsForm">
			<span>Desde </span>
			<md-datepicker name="ctrl.from_Date" ng-model="from_Date" md-placeholder="Desde" md-max-date="today"></md-datepicker>
			<span style="margin-left: 50px;">Hasta </span>
			<md-datepicker name="ctrl.to_Date" ng-model="to_Date" md-placeholder="Hasta" md-min-date="fromDate"></md-datepicker>
		</form>
		<md-button ng-click="getMovements()" class="md-raised md-primary" >Ver Resultado</md-button>
	</md-content>
	<md-content>
		<div ng-hide="hideMovements">
			<table class="table table-hover">
				<tr>
					<th>Fecha</th>
					<th>Producto</th>
					<th>Usuario</th>
					<th>Precio</th>
					<th>Variaci&oacute;n de Stock</th>
				</tr>
				<tr ng-repeat="item in movements" ng-class-odd="odd" ng-class-even="even">
			      <td>{{ item.dateMov | date:'yyyy-MM-dd' }}</td>
			      <td>{{ item.productName }}</td>
			      <td>{{ item.userID }}</td>
			      <td>{{ item.finalPrice }}</td>
			      <td>{{ item.stock }}</td>
			      <td>&nbsp</td>
			 	</tr>
			</table>
		</div>
	</md-content>
	</p>
</md-content>
