<style>
.md-pane-open .md-datepicker-calendar {
    background: beige;
}
#datePicker h4 {
	margin-left: 2em;
}
</style>

<md-content flex layout-padding>
	<p>
	<md-content>
		<h4>Valor Actual del Almac&eacute;n</h4>
		<md-whiteframe class="md-whiteframe-7dp" flex="25" layout layout-align="center center">
		    <span>{{vsWorth}}</span>
		</md-whiteframe>
	</md-content>
	</p>
	<p style="margin-top: 45px;">
	<md-content layout layout="row">
		<h4>Movimientos</h4>
		<span>Desde </span><md-datepicker ng-model="fromDate" md-placeholder="Desde" md-max-date="today"></md-datepicker>
		<span style="margin-left: 50px;">Hasta </span><md-datepicker ng-model="toDate" md-placeholder="Hasta" md-min-date="fromDate"></md-datepicker>
		<md-button ng-click="getMovements()" class="md-raised md-primary" >Ver Resultado</md-button>

		<md-list>
	      <md-subheader class="md-no-sticky">Listado de Movimientos</md-subheader>
	      <md-list-item class="md-1-line" ng-repeat="item in movements">
	        <div class="md-list-item-text" layout="row">
	          <p>Fecha: {{ item.dateMov | date:'yyyy-MM-dd' }}</p> 
	          <p>Producto: {{ item.productName }}</p>
	          <p>Usuario: {{ item.userID }}</p>
	          <p>Precio: {{ item.finalPrice }}</p>
	          <p>Variaci&oacute;n de Stock: {{ item.stock }}</p>
	        </div>
	      	<md-divider ></md-divider>
	      </md-list-item>
		</md-list>
	</md-content>
	</p>
</md-content>
