<div style="border:solid; border-color:red;">
<h1>Test Theme</h1>
    <p>Selected Theme: <span class="radioValue">{{ vm.theme }}</span> </p>
    <md-radio-group ng-model="vm.theme">
      <md-radio-button value="test1">test1</md-radio-button>
      <md-radio-button value="test2"> test2 </md-radio-button>
      <md-radio-button value="test3">test3</md-radio-button>
      <md-radio-button value="test4">test3</md-radio-button>
    </md-radio-group>
    <md-button href="#/test" class="md-primary md-raised" ng-click="vm.changeTheme(vm.theme)">
      Change theme
    </md-button>
    <p></p>
	<md-button href="#/test" class="md-primary md-raised">
		Primary
	</md-button>
	<md-button href="#/test" class="md-raised md-accent">
		Accent
	</md-button>
	<md-button href="#/test" class="md-raised md-warn">
		Warn
	</md-button>

<h1>Test sidenav</h1>
    <md-button href="#/test" class="md-primary md-raised" ng-click="vm.crossSidenav()">
      Switch sidenav place
    </md-button>
    <md-button href="#/test" class="md-accent md-raised" ng-click="vm.hideSidenavAux()">
     Hide sidenavAux
    </md-button>    
    <md-button href="#/test" class="md-warn md-raised" ng-click="vm.showSidenavAux()">
     Show sidenavAux
    </md-button>    


    <h1>guagua</h1>
<div ng-cloak>
 <br/>
  <md-input-container flex>
       <label>First name</label>
       <input ng-model="user.firstName">
     </md-input-container>
 
</div>
</div>