<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		 ng-click="createNotification($event)"> Crear nueva notificaci&oacute;n -->
<!-- 	</md-button> -->

<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		 ng-click="createProduct($event)"> Crear Producto -->
<!-- 	</md-button> -->

<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		 ng-click="shareVS($event)"> Compartir Almac&eacute;n -->
<!-- 	</md-button> -->


<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		ng-href="#/virtualStorage/{{virtualStorageId}}/shoppingList"> Lista de Compras -->
<!-- 	</md-button> -->
	
<!-- <h1>Bienvenido a su almac&eacute;n virtual</h1> -->


<md-content class="md-padding" >
	<div ng-include="productsView" ng-controller="ProductsNavigationController as ctrl"></div>
</md-content>