
<md-dialog aria-label="Editar Almac&eacute;n Virtual" ng-cloak
	style="width: 80%;height:95%">
<form name="inputForm" novalidate>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Editar Almac&eacute;n Virtual</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()"> <i class="material-icons" aria-label="Close dialog">clear</i> </md-button>
		</div>
	</md-toolbar>
	
	<md-dialog-content style="max-width:100%;max-height:100%; ">
		<md-input-container>
			<label>Nombre</label> 
			<md-tooltip md-direction="top">Seleccione el nombre de su almac&eacute;n virtual </md-tooltip> 
			
			<input ng-model="vs.name" name="vsName" required> 
		</md-input-container> 
		
		<md-input-container>
			<label><i class="material-icons" align="center">photo_size_select_actual</i>Logo</label> 
			<md-tooltip md-direction="top"> Ingrese el logo de	su almac&eacute;n virtual </md-tooltip> 
			
			<input ng-model="logoFile.filename"	ng-focus="upload()" id="fileName"> 
		</md-input-container> 
		
		<input type='file'	ng-model='logoFile' id="file" base-sixty-four-input style="display:none"> 
		
		<md-input-container flex>
          <label>Color primario del almac&eacute;n</label>
          <md-tooltip	md-direction="top"> Seleccione el color primario del almac&eacute;n virtual </md-tooltip>
          <md-select ng-model="theme.primary">
            <md-option ng-repeat="primary in primaries" value="{{primary}}">
              {{primary}}
            </md-option>
          </md-select>
        </md-input-container>
        
    	<md-input-container flex>
          <label>Color de acento del almac&eacute;n</label>
          <md-tooltip	md-direction="top"> Seleccione el color de acento del almac&eacute;n virtual </md-tooltip>
          <md-select ng-model="theme.accent">
            <md-option ng-repeat="accent in accents" value="{{accent}}">
              {{accent}}
            </md-option>
          </md-select>
        </md-input-container>
        
		<md-input-container> 
			<label>Im&aacute;gen barra lateral</label> 
			<md-tooltip md-direction="top">Seleccione la im&aacute;gen de fondo de la barra lateral </md-tooltip>
			<md-select ng-model="theme.sidenavTop"> 
				<md-option ng-repeat="image in images" value="{{image}}">{{image}}</md-option>
			</md-select> 
		</md-input-container> 
<!-- 		<md-input-container>  -->
<!-- 			<label>Navegaci&oacute;n inferior del almac&eacute;n virtual</label>  -->
<!-- 			<md-tooltip md-direction="top">Seleccione la navegaci&oacute;n inferior de su almac&eacute;n virtual </md-tooltip> -->
<!-- 			<md-select ng-model="vs.sidenavBottom">  -->
<!-- 				<md-option ng-repeat="sidenavBottom in sidenavBottoms" value="{{sidenavBottom}}">{{sidenavBottom}}</md-option> -->
<!-- 			</md-select>  -->
<!-- 		</md-input-container>  -->
<!-- 		<md-input-container>  -->
<!-- 			<md-radio-group flex layout='row' ng-model="vs.progressLinear"> -->
<!-- 				<div layout-align="start center"> -->
<!-- 					<md-radio-button flex ng-value="true" class="md-primary"> -->
<!-- 					<label>Loading lineal</label> </md-radio-button> -->
<!-- 				</div> -->
<!-- 				<div layout-align="start center"> -->
<!-- 					<md-radio-button flex ng-value="false" class="md-primary "> -->
<!-- 					<label>Loading circular</label></md-radio-button> -->
<!-- 				</div> -->
<!-- 			</md-radio-group>  -->
		
<!-- 		</md-input-container>  -->
		
		
	</md-dialog-content>
	<md-dialog-actions class="md-actions" layout="row">
		<span flex></span> 
		
		<md-button class="md-raised md-primary"	ng-click='update(vs)'>Actualizar</md-button> 
		<md-button class="md-raised" ng-click="cancel()">Cancelar</md-button> 
	</md-dialog-actions> 
</form>
</md-dialog>
