<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		 ng-click="createCategory($event)"> Crear nueva categor&iacute;a -->
<!-- 	</md-button> -->

<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		 ng-click="createProduct($event)"> Crear Producto -->
<!-- 	</md-button> -->

<!-- 	<md-button ng-transclude aria-label="Nuevo" -->
<!-- 		 ng-click="shareVS($event)"> Compartir Almac&eacute;n -->
<!-- 	</md-button> -->

<!-- <h1>Bienvenido a su almac&eacute;n virtual</h1> -->

<md-content class="md-padding" >
	<div ng-include="productsView" ng-controller="ProductsNavigationController as ctrl"></div>
</md-content>
