<h1>Crear Almac&eacute;n Virtual</h1>
VS >>> {{vs}}

<!-- <md-button class="md-raised md-warn" ng-click='insert(vs)' >Warn</md-button> -->

<form name="inputForm" novalidate>
	 <md-input-container >
        <label>Owner</label>
        <input ng-model="vs.owner.id">
      </md-input-container>
      
  	 <md-input-container >
        <label>Nombre</label>
        <input ng-model="vs.name">
      </md-input-container>
      <md-input-container >
        <label>URL</label>
        <input ng-model="vs.url">
      </md-input-container>
      <md-input-container >
        <label>CSS</label>
        <input ng-model="vs.css">
      </md-input-container>
      <md-input-container >
        <label>Logo</label>
        <input ng-model="vs.logo">
      </md-input-container>
      <md-input-container >
        <label>Loading</label>
        <md-button class="md-primary md-raised" ng-click="upload()">agregar</md-button>
        <input ng-model="vs.fileName" ng-click="vs.upload">
      </md-input-container>
      <input type="file" id="file" name="file" hidden />
      <!-- <input type="file" name="file" onchange="angular.element(this).scope().setFile(this)" md-input-file/> -->
      
     
    
	  <md-button class="md-raised md-primary" ng-click='insert(vs)' >Crear</md-button>
      <md-button class="md-raised" >Cancelar</md-button>
</form>
