<div layout="row" layout-padding="" layout-wrap="" layout-fill=""
	style="padding-bottom: 32px;" ng-cloak=""
	class="whiteframedemoBasicUsage">

	<div ng-repeat="vs in virtualStoragesFollowing">
		<!-- <a ng-href="/SAPo-FO/index.html#/{{vs.name}}"> -->
		<md-whiteframe class="md-whiteframe-3dp"
			style="width: 200px; margin:32px" layout="column"
			layout-align="center center">
		<h3>
			<a ng-href="/SAPo-FO/index.html#/virtualStorage/{{vs.name}}"
				style="text-decoration: none">{{vs.name}}</a>
		</h3>
		<a ng-href="/SAPo-FO/index.html#/virtualStorage/{{vs.name}}"><img
			class="md-card-image" src="{{vs.logo}}" alt="{{vs.name}}"
			style="padding: 15px; height:150px;" layout layout-align="center center"></a> 
		</md-whiteframe>
		<!-- </a>  -->
	</div>

	
</div>
